

.btnBookNow{
display:inline-block;
padding:0.3em 1.2em;
margin:0 0.3em 0.3em 0;

box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#FFFFFF;
background-color:black;
text-align:center;
transition: all 0.2s;
}
.btnBookNow:hover{
background-color:black;
}
@media all and (max-width:30em){
.btnBookNow{
display:block;
margin:0.2em auto;
}

}

#btnBookNow{
    width: 100%;
    background-color:black; /* Green */
    border: 2px solid black;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    
   
    -webkit-transition-duration: 0.2s; 
 
}
#btnBookNow:hover {
    background-color: white ;
    color: black;
}
#BookNow{
    width: 100%;
    background-color: rgb(0, 0, 0); /* Green */
    border: 2px solid black;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    
   
    -webkit-transition-duration: 0.2s; 
 
}
#BookNow:hover {
    background-color: white ;
    color: black;
   
}
#time{
    color: black;
    background-color:  red;
    -webkit-animation: time 1s infinite;  /* Safari 4+ */
    -moz-animation: time 1s infinite;  /* Fx 5+ */
    -o-animation: time 1s infinite;  /* Opera 12+ */
    animation: time 1s infinite;  /* IE 10+, Fx 29+ */
    animation-duration: 4s; 
}

  
  @-webkit-keyframes time {
    0%, 10% {
      background-color: rgb(246, 248, 245);
        color: black;
    }
    20%, 30% {
      background-color: #e50000;
        color: white;
    }
    40%, 50% {
        background-color: rgb(246, 248, 245);
          color: black;
      }
      60%, 70% {
        background-color: #e50000;
        color: white;
      }
      80%, 90% {
        background-color: rgb(246, 248, 245);
          color: black;
      }
      100% , 0%{
        background-color: #e50000;
        color: white;
      }
  }